@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media only screen and ( min-width:60em) {
    html {
        font-size: 110%;
    }
}
    
@media only screen and ( min-width:90em) {
    html {
        font-size: 120%;
    }
}    
    
@media only screen and ( min-width:120em) {
    html {
        font-size: 130%;
    }
}    
  

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

.color {
    background-color: black;
    padding: .20em;
    overflow: hidden;
}

 .colour2 {
    background-color: #fff;
    }

.colour3 {
    background-color: #FF9933;
    }
.nav {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    
}

    
}
}

h1 {
    color: black;
    text-align: center;
}

.logo {
    width: 20%;
    margin: 0;
    padding-top: 1em;
    padding-left: 1em;
    position: absolute;
    z-index: 2;
    
}

.banner {
    position: relative;
    background-image: url(../images/banner_img.jpg);
    padding-bottom: 50%;
    background-size: cover;
    
}

.header {
    text-align:left;
    background-color: rgba(230,230,230,0.3);
    width: 100%;
    position: absolute;
    z-index: 2;
    color: black;
    margin-top: 25%;
    
}

.blurb {
    padding-right: 5rem;
}
    
h2 {
 text-align: center;

}

.center {
    text-align: center;
}
.nav {
    padding-top: 2em;
    position: absolute;
    z-index: 100;
    text-align: right;
    right: 0;
}
.nav a {
    text-decoration: none;
    overflow: hidden;
}

.nav a,
.nav a:link,
.nav a:visited {
    display: inline-block;
    color: #0099FF;
    text-decoration: none;
    
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
    background-color: white;
    color: black;
}
.features {
    padding: .5rem;
    margin: 0;
}

.section-dark {
    background-color: #ccc;
}

dd {
    padding: 0;
    margin: 0;
}
dt {
    padding: 0;
    margin: 0;
}

.top {
    text-align: center;
}


.cl3 {
    background-color: #e2e2e2;
}

.bottomul a {
    display: inline;
}

   
.bottomul :last-child::after {
        content: none;
    }

a:focus {
    outline: 3px solid #000;
}

/*
a:link,
a:active {
    outline: none;
}

It is okay to get rid of the focus rectangle for mouse users, but NEVER for keyboard users */

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: #000;
    color: #fff;
    font-size: 1.25em;
    text-decoration: none;

}

.skip-links a:focus {
    top: 0;
}

a: focus{
}

.radio {
    white-space: nowrap;
}

label {
    display: block;
}

/* when a label comes immediatly after an input */
input + label {
    display: inline-block;
}

button {
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em 0.75em;
    
}

input[type="text"] {
    padding:.75em;
    width: 100%;
    
}

input[type="email"] {
    width: 100%;
    padding: .75em;
}

input[type="number"] {
    width: 100%;
    padding: .75em;
}
 
textarea {
    width: 100%;
}

form {
    max-width: 45em;
    margin: 0 auto;
    width: 100%;
}

li {
    text-decoration: none;
    list-style-type: none;
}


.padding {
        margin-left: .5rem;
    }

.icon {
    width: 20%;
    float: right;
    margin-right:.5em;
}

.features {
    margin: .5em;
}

@media only screen and (min-width:20em) {
    
    .nav {
        
        overflow: hidden;
        
    }
   
    
    h1 {
        text-align: center;
    }
    
    .bottomul li::after {
        content: " ·";
    }
 
    .header {
         margin-top: 17%;
    }
    
    .grid {
        align-content: center;
    }
    
    .small img {
        width: 75%;
    }
      
    .header {
        visibility: hidden;
    }
    
        

}
@media only screen and (min-width:38em) {    
   
    .nav {
        
        padding-right: 1em;
    }
    
    .bottomul {
        float: right;
    }
    
    .copyright {
        text-align: center;
        color: white;
    }
    
    .logo {
        float: left;
        overflow: hidden;
        margin-top: .25em;
        margin-left: .25em;
    }
    
    .img {
        width: 100%;
    }
    
    .header {
        margin-top: 30%;
    }
    
    .small img {
        width: 100%;
    }
}

  
@media only screen and ( min-width:60em) {  
    
    .nav {
        float: left;
    }
    
    h1 {
        float: left;
    }
    
    .bottomul {
        float: right;
    }
    
    .copyright {
        text-align: left;
    
    }
    
    dt {
        float: left;
        clear: left;
        width: 9rem;
    }
    
    dd {
        float: left;
        margin: 0;
        padding: 0;
    }
    dl {
        overflow: hidden;
    }
    
    .img { 
        width: 150%;
    }
    
    .icon {
        width: 10%;
    }
}
    
  
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
